<main class="article" data-ceiling="topbar">
{{#unless (or (ne page.attributes.hide-view-latest undefined) (eq page.componentVersion page.component.latest))}}
{{#with page.latest}}
{{#if ./missing}}
{{#if (and @root.page.componentVersion.prerelease (not ./prerelease))}}
<div class="article-banner">
<i class="fas fa-file-alt"></i> <p>You are viewing the documentation for a prerelease version.</p>
</div>
{{/if}}
{{else}}
<div class="article-banner">
{{#if (and @root.page.componentVersion.prerelease (not ./prerelease))}}
<i class="fas fa-file-alt"></i> <p>You are viewing the documentation for a prerelease version.</p>
{{else}}
<i class="fas fa-file-alt"></i> <p>A newer version of this documentation is available.</p>
{{/if}}
<a class="btn" href="{{relativize ./url}}">View Latest</a>
</div>
{{/if}}
{{/with}}
{{/unless}}
<div class="article-header">
{{> crumbs}}
</div>
{{#if env.DEBUG}}
<dl>
    <dt>page.component = {{page.component.name}}</dt>
    <dd>
        <dl>
            <dt>title</dt>
            <dd>{{page.component.title}}</dd>
            <dt>url</dt>
            <dd>{{page.component.url}}</dd>
            <dt>latest</dt>
            <dd>{{page.component.latest}}</dd>
            <dt>versions</dt>
            <dd>{{page.component.versions}}</dd>
        </dl>
    </dd>

    
    <dt>page.componentVersion</dt>
    <dd>
        <dl>
            {{#each page.componentVersion}}
            <dt>{{@key}}</dt>
            <dd>{{this}}</dd>
            {{/each}}
        </dl>
    </dd>

    <dt>page.version</dt>
    <dd>{{page.version}}</dd>
    
    <dt>page</dt>
    <dd>
        <dl>
            <dt>module</dt>
            <dd>{{page.module}}</dd>
            <dt>url</dt>
            <dd>{{page.url}}</dd>
            <dt>version</dt>
            <dd>{{page.version}}</dd>
            <dt>fileUri</dt>
            <dd>{{page.fileUri}}</dd>
        </dl>
    </dd>

    <dt>antoraVersion</dt>
    <dd>{{antoraVersion}}</dd>
    
    <dt>site.components</dt>
    <dd>        
        <dl>
            {{#each site.components}}
            <dt>{{@key}}</dt>
            <dd>{{this}}</dd>
            {{/each}}
        </dl>
    </dd>
    
    <dt>site.ui</dt>
    <dd>{{site.ui.defaultLayout}} {{site.ui.url}}</dd>
    
</dl>
{{/if}}
{{> article}}
</main>
